*{
	margin:0;
	padding:0;

}

#corpo{
    width:80%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(255, 255, 255);
    
}
img{

    width: 80%;

}

#header{
    width:100%;
    height:100px;
    text-align: center;
    background-color: rgba(13, 23, 172, 0.507);
}

#header h1{

    padding-top: 20px;
}


#left{
    width:50%;
    height:500px;
    float:left;   
    padding-top: 20%;  
    background-color: rgb(255, 255, 255);
}
#right{
    width:50%;
    height:500px;
    float:right;
    padding-top: 20%;  
    text-align: center;
    background-color: rgb(255, 255, 255);   
}
#fundo{
    width:100%;
    height:100px;
    margin-top: 720px;
    font-size: 0.5em;
    padding-top: 30px;
    text-align: center;
    background-color: rgba(13, 23, 172, 0.507);


}

table{
    border-radius: 7px;
    color: rgba(13, 23, 172, 0.507);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;


}
