*{
	margin:0;
	padding:0;

}

#corpo{
    width:80%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(255, 255, 255);
    
}
img{

    width: 60%;

}

#header{
    width:100%;
    height:100px;
    text-align: center;
    background-color: rgba(13, 23, 172, 0.507);
 }

#left{
    width:50%;
    height:500px;
    float:left;   
    padding-top: 20%;   
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#right{
    width:50%;
    height:500px;
    float:right;
    padding-top: 20%;  
    text-align: center;
    background-color: rgb(255, 255, 255);   
}
#fundo{
    width:100%;
    height:100px;
    margin-top: 720px;
    text-align: center;
    background-color: rgba(13, 23, 172, 0.507);


}
